* {
  padding: 0;
  margin: 0;
}

.cg-html, .cg-body {
  height: 100%;
}

.cg-body {
  display: flex;
  flex-direction: column;
}

#cg-root {
  display: contents;
}

.cg-header {
  height: 40px;
  background-color: #858585;
  display: flex;
  align-items: center;
}

.cg-logo {
  text-transform: uppercase;
  margin-left: 12px;
}

.cg-status-bar {
  margin: 0 auto;
  display: flex;
  gap: 8px;
  text-transform: uppercase;
}

.cg-toolbar {
  margin-right: 12px;
  display: flex;
  gap: 8px;
}

.cg-button {
  cursor: pointer;
  background-color: transparent;
  border: none;
  user-select: none;
}

.cg-main {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.cg-game {
  --item-size: calc(min(100vw - 40px, 100vh - 80px) / var(--game-size));
  --figure-size: calc(var(--item-size) * 0.8);
  display: grid;
  grid-template-columns: repeat(calc(var(--game-size) + 1), min-content);
  position: relative;
  border: 1px solid #222;
}

.cg-item {
  width: var(--item-size);
  height: var(--item-size);
  background-color: #222;
  transition: width 0.5s, height 0.5s;
}

.cg-item:nth-child(2n + 1) {
  background-color: #fff;
}

.cg-item.cg-hide {
  visibility: hidden;
  width: 0;
}

.cg-figure {
  width: var(--item-size);
  height: var(--item-size);
  position: absolute;
  left: calc(var(--left) * var(--item-size));
  top: calc(var(--top) * var(--item-size));
  display: flex;
  align-items: center;
  justify-content: center;
  transition: left 0.5s, top 0.5s, width 0.5s, height 0.5s;
}

.cg-figure-svg {
  width: var(--figure-size);
  height: var(--figure-size);
  transition: width 0.5s, height 0.5s;
}

.cg-messages {
  position: absolute;
  right: 10px;
  bottom: 10px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.cg-message {
  padding: 10px;
  border-radius: 8px;
}

.cg-message-info {
  background-color: #17a2b8;
}

.cg-message-error {
  background-color: #dc3545;
}

.cg-message-warn {
  background-color: #ffc107;
}

.cg-game-status {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2225;
  color: #fff;
  font-size: 10vw;
  text-transform: uppercase;
  user-select: none;
}

.cg-hidden {
  display: none;
}

.cg-active-from {
  filter: sepia(1);
}

.cg-active-to {
  filter: sepia(1);
}

.cg-active-move {
  background-color: #41676d;
}

.cg-item.cg-active-move:nth-child(2n + 1) {
  background-color: #9af2ff;
}
